header {
    background-color: darkblue;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 52px;
    margin-bottom: 10px;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav ul {
    display: flex;

    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    margin: 0px 15px 0 0;
}

@media all and (min-width: 600px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
  
    header h1 {
      margin: 14px 0;
      padding-top: 0;
      font-size: 48px;
    }
  
    header nav {
      margin-top: 18px;
    }
    header nav ul li a:hover {
       color: #bdbdbd;
    }
  }